In [2]:
import pandas as pd
import numpy as np

In [7]:
#1
df=pd.read_csv('student-scores.csv')
print("Dataframe: ")


print("First 5 rows")
print(df.head())

print("Last 5 rows")
print(df.tail())

Dataframe:
First 5 rows
   id first_name last_name                                  email  gender  \
0   1       Paul     Casey         paul.casey.1@gslingacademy.com    male
1   2   Danielle  Sandoval  danielle.sandoval.2@gslingacademy.com  female
2   3       Tina   Andrews       tina.andrews.3@gslingacademy.com  female
3   4       Tara     Clark         tara.clark.4@gslingacademy.com  female
4   5    Anthony    Campos     anthony.campos.5@gslingacademy.com    male

   part_time_job  absence_days  extracurricular_activities  \
0          False             3                       False
1          False             2                       False
2          False             9                        True
3          False             5                       False
4          False             5                       False

   weekly_self_study_hours   career_aspiration  math_score  history_score  \
0                       27              Lawyer          73             81
1                       47              Doctor          90             86
2                       13  Government Officer          81             97
3                        3              Artist          71             74
4                       10             Unknown          84             77

   physics_score  chemistry_score  biology_score  english_score  \
0             93               97             63             80
1             96              100             90             88
2             95               96             65             77
3             88               80             89             63
4             65               65             80             74

   geography_score
0               87
1               90
2               94
3               86
4               76
Last 5 rows
        id first_name last_name                                    email  \
1995  1996       Alan  Reynolds     alan.reynolds.1996@gslingacademy.com
1996  1997     Thomas   Gilbert    thomas.gilbert.1997@gslingacademy.com
1997  1998    Madison     Cross     madison.cross.1998@gslingacademy.com
1998  1999   Brittany   Compton  brittany.compton.1999@gslingacademy.com
1999  2000    Natalie     Smith     natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
1995    male          False             2                       False
1996    male          False             2                       False
1997  female          False             5                       False
1998  female           True            10                        True
1999  female          False             5                       False

      weekly_self_study_hours      career_aspiration  math_score  \
1995                       30  Construction Engineer          83
1996                       20      Software Engineer          89
1997                       14      Software Engineer          97
1998                        5         Business Owner          51
1999                       27             Accountant          82

      history_score  physics_score  chemistry_score  biology_score  \
1995             77             84               73             75
1996             65             73               80             87
1997             85             63               93             68
1998             96             72               89             95
1999             99             91               69             83

      english_score  geography_score
1995             84               82
1996             67               73
1997             94               78
1998             88               75
1999             93              100

In [13]:
print(df.columns)

Index(['first_name', 'last_name', 'email', 'gender', 'part_time_job',
       'absence_days', 'extracurricular_activities', 'weekly_self_study_hours',
       'career_aspiration', 'math_score', 'history_score', 'physics_score',
       'chemistry_score', 'biology_score', 'english_score', 'geography_score'],
      dtype='object')

In [15]:
#2
df = df.set_index('first_name')
print(df)

           last_name                                    email  gender  \
first_name
Paul           Casey           paul.casey.1@gslingacademy.com    male
Danielle    Sandoval    danielle.sandoval.2@gslingacademy.com  female
Tina         Andrews         tina.andrews.3@gslingacademy.com  female
Tara           Clark           tara.clark.4@gslingacademy.com  female
Anthony       Campos       anthony.campos.5@gslingacademy.com    male
...              ...                                      ...     ...
Alan        Reynolds     alan.reynolds.1996@gslingacademy.com    male
Thomas       Gilbert    thomas.gilbert.1997@gslingacademy.com    male
Madison        Cross     madison.cross.1998@gslingacademy.com  female
Brittany     Compton  brittany.compton.1999@gslingacademy.com  female
Natalie        Smith     natalie.smith.2000@gslingacademy.com  female

            part_time_job  absence_days  extracurricular_activities  \
first_name
Paul                False             3                       False
Danielle            False             2                       False
Tina                False             9                        True
Tara                False             5                       False
Anthony             False             5                       False
...                   ...           ...                         ...
Alan                False             2                       False
Thomas              False             2                       False
Madison             False             5                       False
Brittany             True            10                        True
Natalie             False             5                       False

            weekly_self_study_hours      career_aspiration  math_score  \
first_name
Paul                             27                 Lawyer          73
Danielle                         47                 Doctor          90
Tina                             13     Government Officer          81
Tara                              3                 Artist          71
Anthony                          10                Unknown          84
...                             ...                    ...         ...
Alan                             30  Construction Engineer          83
Thomas                           20      Software Engineer          89
Madison                          14      Software Engineer          97
Brittany                          5         Business Owner          51
Natalie                          27             Accountant          82

            history_score  physics_score  chemistry_score  biology_score  \
first_name
Paul                   81             93               97             63
Danielle               86             96              100             90
Tina                   97             95               96             65
Tara                   74             88               80             89
Anthony                77             65               65             80
...                   ...            ...              ...            ...
Alan                   77             84               73             75
Thomas                 65             73               80             87
Madison                85             63               93             68
Brittany               96             72               89             95
Natalie                99             91               69             83

            english_score  geography_score
first_name
Paul                   80               87
Danielle               88               90
Tina                   77               94
Tara                   63               86
Anthony                74               76
...                   ...              ...
Alan                   84               82
Thomas                 67               73
Madison                94               78
Brittany               88               75
Natalie                93              100

[2000 rows x 15 columns]

In [17]:
#3
column1 = df['chemistry_score']
print(column1)

first_name
Paul         97
Danielle    100
Tina         96
Tara         80
Anthony      65
           ...
Alan         73
Thomas       80
Madison      93
Brittany     89
Natalie      69
Name: chemistry_score, Length: 2000, dtype: int64

In [19]:
column2 = df['physics_score']
print(column2)

first_name
Paul        93
Danielle    96
Tina        95
Tara        88
Anthony     65
            ..
Alan        84
Thomas      73
Madison     63
Brittany    72
Natalie     91
Name: physics_score, Length: 2000, dtype: int64

In [21]:
#4
select_col = df[['gender', 'career_aspiration']]
print("\nSelected Columns:")
print(select_col)

Selected Columns:
            gender      career_aspiration
first_name
Paul          male                 Lawyer
Danielle    female                 Doctor
Tina        female     Government Officer
Tara        female                 Artist
Anthony       male                Unknown
...            ...                    ...
Alan          male  Construction Engineer
Thomas        male      Software Engineer
Madison     female      Software Engineer
Brittany    female         Business Owner
Natalie     female             Accountant

[2000 rows x 2 columns]

In [23]:
#5
subset_rows = df.loc[['Paul', 'Tara', 'Natalie']]
print("\nSubset of Rows:")
print(subset_rows)

Subset of Rows:
             last_name                                      email  gender  \
first_name
Paul             Casey             paul.casey.1@gslingacademy.com    male
Paul           Serrano         paul.serrano.407@gslingacademy.com    male
Paul              Hale            paul.hale.509@gslingacademy.com    male
Paul           Shaffer         paul.shaffer.552@gslingacademy.com    male
Paul            Taylor         paul.taylor.1128@gslingacademy.com    male
Paul           Johnson        paul.johnson.1423@gslingacademy.com    male
Paul            Miller         paul.miller.1572@gslingacademy.com    male
Paul            Bailey         paul.bailey.1967@gslingacademy.com    male
Tara             Clark             tara.clark.4@gslingacademy.com  female
Tara           Griffin         tara.griffin.659@gslingacademy.com  female
Tara            Thomas          tara.thomas.688@gslingacademy.com  female
Tara            Haynes         tara.haynes.1676@gslingacademy.com  female
Natalie       Robinson      natalie.robinson.95@gslingacademy.com  female
Natalie     Fitzgerald  natalie.fitzgerald.1351@gslingacademy.com  female
Natalie       Garrison    natalie.garrison.1553@gslingacademy.com  female
Natalie       Williams    natalie.williams.1647@gslingacademy.com  female
Natalie          Smith       natalie.smith.2000@gslingacademy.com  female

            part_time_job  absence_days  extracurricular_activities  \
first_name
Paul                False             3                       False
Paul                False             5                       False
Paul                False             5                       False
Paul                False            10                       False
Paul                False             6                       False
Paul                False             4                       False
Paul                False             7                        True
Paul                 True             4                       False
Tara                False             5                       False
Tara                 True             5                        True
Tara                False             0                       False
Tara                False             3                       False
Natalie             False             5                       False
Natalie             False             3                        True
Natalie             False             5                       False
Natalie             False             4                        True
Natalie             False             5                       False

            weekly_self_study_hours      career_aspiration  math_score  \
first_name
Paul                             27                 Lawyer          73
Paul                             18             Accountant          76
Paul                             33  Construction Engineer          82
Paul                             35      Software Engineer          93
Paul                             35  Construction Engineer          90
Paul                             32                 Doctor          86
Paul                             11  Construction Engineer          97
Paul                              5         Business Owner          82
Tara                              3                 Artist          71
Tara                             31                 Banker          93
Tara                             29                 Doctor          88
Tara                             31      Software Engineer          95
Natalie                           3                Unknown          78
Natalie                          14                Teacher          60
Natalie                          32      Software Engineer          96
Natalie                          29      Software Engineer          87
Natalie                          27             Accountant          82

            history_score  physics_score  chemistry_score  biology_score  \
first_name
Paul                   81             93               97             63
Paul                   82             76               71             70
Paul                   92             95               61             84
Paul                  100             90               94             97
Paul                   86             99               94            100
Paul                   78             81               87             99
Paul                   91             91               61             68
Paul                   69             92               85             59
Tara                   74             88               80             89
Tara                   99             79               78             64
Tara                   71             87               85            100
Tara                   98             76               61             87
Natalie                79             73               96             64
Natalie                61             71               60             69
Natalie                83             67               86             81
Natalie                80             97               98             91
Natalie                99             91               69             83

            english_score  geography_score
first_name
Paul                   80               87
Paul                   89               76
Paul                   81               82
Paul                   98               98
Paul                   89               85
Paul                   71               97
Paul                   77               97
Paul                   87               83
Tara                   63               86
Tara                   87               76
Tara                   78               78
Tara                   72              100
Natalie                93               85
Natalie                91               84
Natalie                92               73
Natalie                64               97
Natalie                93              100

In [24]:
#6
sub_rows_col = df.iloc[1:4, 2:6]
print("\nSubset of Rows and Columns using .iloc:")
print(sub_rows_col)

Subset of Rows and Columns using .iloc:
            gender  part_time_job  absence_days  extracurricular_activities
first_name
Danielle    female          False             2                       False
Tina        female          False             9                        True
Tara        female          False             5                       False

In [25]:
#7
row1=df[(df['math_score'] > 85) & (df['physics_score']> 90)]
print("First condition")
print(row1.head())

row2= df[(df['gender'] == 'female') & (df['absence_days']< 5)]
print("2nd condition: ")
print(row2.head())

row3=df[(df['gender']== 'male') & ((df['part_time_job']== True) | (df['absence_days']> 5))]
print("3rd condition: ")
print(row3.head())

First condition
            last_name                                  email  gender  \
first_name
Danielle     Sandoval  danielle.sandoval.2@gslingacademy.com  female
Anthony         Smith      anthony.smith.7@gslingacademy.com    male
Stanley     Gutierrez  stanley.gutierrez.9@gslingacademy.com    male
Vicki        Thompson    vicki.thompson.17@gslingacademy.com  female
Jonathan       Werner   jonathan.werner.19@gslingacademy.com    male

            part_time_job  absence_days  extracurricular_activities  \
first_name
Danielle            False             2                       False
Anthony             False             3                        True
Stanley             False             6                       False
Vicki               False             3                        True
Jonathan            False             1                       False

            weekly_self_study_hours  career_aspiration  math_score  \
first_name
Danielle                         47             Doctor          90
Anthony                          23  Software Engineer          99
Stanley                          25            Unknown          94
Vicki                            30          Scientist          92
Jonathan                         37             Doctor          92

            history_score  physics_score  chemistry_score  biology_score  \
first_name
Danielle               86             96              100             90
Anthony                96             97               73             88
Stanley                68             94               85             81
Vicki                  64             93               91             80
Jonathan               87             92               99             97

            english_score  geography_score
first_name
Danielle               88               90
Anthony                76               64
Stanley                74               72
Vicki                  89               72
Jonathan               87               86
2nd condition:
           last_name                                  email  gender  \
first_name
Danielle    Sandoval  danielle.sandoval.2@gslingacademy.com  female
Kelly           Wade         kelly.wade.6@gslingacademy.com  female
Audrey       Simpson    audrey.simpson.10@gslingacademy.com  female
Gabrielle      White   gabrielle.white.11@gslingacademy.com  female
Laura        Jackson     laura.jackson.15@gslingacademy.com  female

            part_time_job  absence_days  extracurricular_activities  \
first_name
Danielle            False             2                       False
Kelly               False             2                       False
Audrey              False             3                        True
Gabrielle           False             2                       False
Laura               False             3                       False

            weekly_self_study_hours career_aspiration  math_score  \
first_name
Danielle                         47            Doctor          90
Kelly                            26           Unknown          93
Audrey                           18           Teacher          98
Gabrielle                         7           Teacher          65
Laura                            39            Doctor          96

            history_score  physics_score  chemistry_score  biology_score  \
first_name
Danielle               86             96              100             90
Kelly                 100             67               78             72
Audrey                 69             88               71             67
Gabrielle              60             97               94             71
Laura                  90             86               92             92

            english_score  geography_score
first_name
Danielle               88               90
Kelly                  80               84
Audrey                 71               73
Gabrielle              81               66
Laura                  95               87
3rd condition:
            last_name                                  email gender  \
first_name
George          Short       george.short.8@gslingacademy.com   male
Stanley     Gutierrez  stanley.gutierrez.9@gslingacademy.com   male
Roger           Wiley       roger.wiley.16@gslingacademy.com   male
Tim           Nichols       tim.nichols.21@gslingacademy.com   male
Kyle           Willis       kyle.willis.22@gslingacademy.com   male

            part_time_job  absence_days  extracurricular_activities  \
first_name
George               True             2                        True
Stanley             False             6                       False
Roger               False             6                       False
Tim                  True             3                       False
Kyle                False             8                       False

            weekly_self_study_hours  career_aspiration  math_score  \
first_name
George                           34  Software Engineer          95
Stanley                          25            Unknown          94
Roger                             0     Business Owner          94
Tim                              15  Software Engineer         100
Kyle                              4     Business Owner          57

            history_score  physics_score  chemistry_score  biology_score  \
first_name
George                 95             82               63             84
Stanley                68             94               85             81
Roger                  50             78               64             79
Tim                    90             72               98             73
Kyle                   55             78               94             83

            english_score  geography_score
first_name
George                 70               85
Stanley                74               72
Roger                  74               84
Tim                    97               72
Kyle                   88               88

In [27]:
#8
grouped=df.groupby('gender').mean(numeric_only=True)
print(grouped)

        part_time_job  absence_days  extracurricular_activities  \
gender
female       0.166667      3.742515                    0.206587
male         0.149299      3.588176                    0.201403

        weekly_self_study_hours  math_score  history_score  physics_score  \
gender
female                16.822355   82.792415      80.495010      80.678643
male                  18.692385   84.114228      80.168337      81.996994

        chemistry_score  biology_score  english_score  geography_score
gender
female        80.382236      79.216567      81.740519        80.953094
male          79.606212      79.947896      80.812625        80.822645

In [29]:
#9
groupedvar=df.groupby(['gender', 'part_time_job']).sum()
print(groupedvar)

                                                              last_name  \
gender part_time_job
female False          SandovalAndrewsClarkWadeSimpsonWhiteJacksonJac...
       True           GomezFarmerWeberBonillaCalhounJonesBennettVasq...
male   False          CaseyCamposSmithGutierrezRandolphWileyDavidson...
       True           ShortNicholsRasmussenGillespieDavisVaughnEdwar...

                                                                  email  \
gender part_time_job
female False          danielle.sandoval.2@gslingacademy.comtina.andr...
       True           patricia.gomez.13@gslingacademy.comlauren.farm...
male   False          paul.casey.1@gslingacademy.comanthony.campos.5...
       True           george.short.8@gslingacademy.comtim.nichols.21...

                      absence_days  extracurricular_activities  \
gender part_time_job
female False                  2904                         174
       True                    846                          33
male   False                  2873                         172
       True                    708                          29

                      weekly_self_study_hours  \
gender part_time_job
female False                            15063
       True                              1793
male   False                            16730
       True                              1925

                                                      career_aspiration  \
gender part_time_job
female False          DoctorGovernment OfficerArtistUnknownTeacherTe...
       True           Business OwnerBusiness OwnerBusiness OwnerWrit...
male   False          LawyerUnknownSoftware EngineerUnknownUnknownBu...
       True           Software EngineerSoftware EngineerBusiness Own...

                      math_score  history_score  physics_score  \
gender part_time_job
female False               70070          67727          67762
       True                12888          12929          13078
male   False               72253          68581          70342
       True                11693          11427          11491

                      chemistry_score  biology_score  english_score  \
gender part_time_job
female False                    67644          65985          68756
       True                     12899          13390          13148
male   False                    67899          68071          68982
       True                     11548          11717          11669

                      geography_score
gender part_time_job
female False                    67575
       True                     13540
male   False                    68898
       True                     11763

In [30]:
#10
group_df = df.groupby(['gender','part_time_job']).agg({'absence_days': ['mean', 'sum'],
    'math_score': ['mean','max'],
    'physics_score': ['mean','min','max']
})
print(group_df)

                     absence_days       math_score      physics_score
                             mean   sum       mean  max          mean min  max
gender part_time_job
female False             3.477844  2904  83.916168  100     81.152096  50  100
       True              5.065868   846  77.173653  100     78.311377  50  100
male   False             3.383981  2873  85.103651  100     82.852768  50  100
       True              4.751678   708  78.476510  100     77.120805  50  100

In [31]:
#11
groupedvar=df.groupby(['gender', 'part_time_job']).size()
print(groupedvar)

gender  part_time_job
female  False            835
        True             167
male    False            849
        True             149
dtype: int64

In [32]:
#12
row = df[(df['gender'] == 'female') & (df['math_score'] > 90)]
print(row.head())

           last_name                                email  gender  \
first_name
Kelly           Wade       kelly.wade.6@gslingacademy.com  female
Audrey       Simpson  audrey.simpson.10@gslingacademy.com  female
Patricia       Gomez  patricia.gomez.13@gslingacademy.com  female
Laura        Jackson   laura.jackson.15@gslingacademy.com  female
Vicki       Thompson  vicki.thompson.17@gslingacademy.com  female

            part_time_job  absence_days  extracurricular_activities  \
first_name
Kelly               False             2                       False
Audrey              False             3                        True
Patricia             True             7                       False
Laura               False             3                       False
Vicki               False             3                        True

            weekly_self_study_hours career_aspiration  math_score  \
first_name
Kelly                            26           Unknown          93
Audrey                           18           Teacher          98
Patricia                          4    Business Owner          94
Laura                            39            Doctor          96
Vicki                            30         Scientist          92

            history_score  physics_score  chemistry_score  biology_score  \
first_name
Kelly                 100             67               78             72
Audrey                 69             88               71             67
Patricia               59             69               67             89
Laura                  90             86               92             92
Vicki                  64             93               91             80

            english_score  geography_score
first_name
Kelly                  80               84
Audrey                 71               73
Patricia               65               73
Laura                  95               87
Vicki                  89               72

In [33]:
#13
row = df.query("gender == 'female' & math_score > 90")
print(row.head())

           last_name                                email  gender  \
first_name
Kelly           Wade       kelly.wade.6@gslingacademy.com  female
Audrey       Simpson  audrey.simpson.10@gslingacademy.com  female
Patricia       Gomez  patricia.gomez.13@gslingacademy.com  female
Laura        Jackson   laura.jackson.15@gslingacademy.com  female
Vicki       Thompson  vicki.thompson.17@gslingacademy.com  female

            part_time_job  absence_days  extracurricular_activities  \
first_name
Kelly               False             2                       False
Audrey              False             3                        True
Patricia             True             7                       False
Laura               False             3                       False
Vicki               False             3                        True

            weekly_self_study_hours career_aspiration  math_score  \
first_name
Kelly                            26           Unknown          93
Audrey                           18           Teacher          98
Patricia                          4    Business Owner          94
Laura                            39            Doctor          96
Vicki                            30         Scientist          92

            history_score  physics_score  chemistry_score  biology_score  \
first_name
Kelly                 100             67               78             72
Audrey                 69             88               71             67
Patricia               59             69               67             89
Laura                  90             86               92             92
Vicki                  64             93               91             80

            english_score  geography_score
first_name
Kelly                  80               84
Audrey                 71               73
Patricia               65               73
Laura                  95               87
Vicki                  89               72

In [35]:
#14
fil=[' Casey','Sandoval']
fil_df=df[df['last_name'].isin(fil)]
print(fil_df)

           last_name                                   email  gender  \
first_name
Danielle    Sandoval   danielle.sandoval.2@gslingacademy.com  female
Adriana     Sandoval  adriana.sandoval.436@gslingacademy.com  female

            part_time_job  absence_days  extracurricular_activities  \
first_name
Danielle            False             2                       False
Adriana             False             5                       False

            weekly_self_study_hours career_aspiration  math_score  \
first_name
Danielle                         47            Doctor          90
Adriana                          28    Stock Investor          88

            history_score  physics_score  chemistry_score  biology_score  \
first_name
Danielle               86             96              100             90
Adriana                90             93               81             88

            english_score  geography_score
first_name
Danielle               88               90
Adriana                90               74

In [37]:
#15
selec_col = ['last_name','math_score', 'physics_score']
renamed_df = df[selec_col].rename(columns={
   'last_name': 'Last Name',
    'math_score': 'Math Marks',
    'physics_score': 'Physics Marks'
})
print(renamed_df)

           Last Name  Math Marks  Physics Marks
first_name
Paul           Casey          73             93
Danielle    Sandoval          90             96
Tina         Andrews          81             95
Tara           Clark          71             88
Anthony       Campos          84             65
...              ...         ...            ...
Alan        Reynolds          83             84
Thomas       Gilbert          89             73
Madison        Cross          97             63
Brittany     Compton          51             72
Natalie        Smith          82             91

[2000 rows x 3 columns]